.flex {
	@include flex-row('nowrap');
}

.flex-row.reverse {
	flex-direction: row-reverse;
}
.flex-column {
	flex-direction: column;
}
.flex-column.reverse {
	flex-direction: column-reverse;
}

.flex-start {
	justify-content: flex-start;
}

.flex-center {
	justify-content: center;
}

.flex-end {
	justify-content: flex-end;
}

.flex-around {
	justify-content: space-around;
}

.flex-between {
	justify-content: space-between;
}

.flex-align-centered {
	justify-content: center;
	align-items: center;
	align-content: center;
}

.row {
	@include flex-row(nowrap);

	&.list-item {
		padding: 0.5em 0;
		background-color: $white;
		font-size: 0.875rem;

		&:nth-child(odd){
			background-color: $list-alternate-row;
		}

		&.list-header {
			padding: 0.5em 0;
			background-color: $list-header-row;
			border-bottom: 0.125em #aaa solid;

			.column {
				font-size: 0.75rem;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}

.column,
.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12,
.column-offset-0,
.column-offset-1,
.column-offset-2,
.column-offset-3,
.column-offset-4,
.column-offset-5,
.column-offset-6,
.column-offset-7,
.column-offset-8,
.column-offset-9,
.column-offset-10,
.column-offset-11,
.column-offset-12 {
	padding-left: 0.25em;
	box-sizing: border-box;
}

.column {
	width: 100%;
}

.column-1 {
	width: 8.33333333%;
}

.column-2 {
	width: 16.66666667%;
}

.column-3 {
	width: 25%;
}

.column-4 {
	width: 33.33333333%;
}

.column-5 {
	width: 41.66666667%;
}

.column-6 {
	width: 50%;
}

.column-7 {
	width: 58.33333333%;
}

.column-8 {
	width: 66.66666667%;
}

.column-9 {
	width: 75%;
}

.column-10 {
	width: 83.33333333%;
}

.column-11 {
	width: 91.66666667%;
}

.column-12 {
	width: 100%;
}

.column:last-child {
	padding-right: 0.25em;
}

@media only screen and (min-width: $sm) {
	.container {
		width: 39rem;
	}
}

@media only screen and (min-width: $md) {
	.container {
		width: 57rem;
	}
}

@media only screen and (min-width: $lg) {
	.container {
		width: 76rem;
	}
}

@media only screen and (min-width: $xxl) {
	.container {
		width: 113rem;
	}
}
